<div class="row">
    <div class="col-md-12">
        <card>
            <div class="row show-grid">
                <div class="col-12 col-md-10">

                </div>
                <div class="col-6 col-md-2">
                    <button class="btn btn-success" style="margin-bottom: 1em" (click)="fifthModal.open()">Add administrative user</button>
                </div>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>USER ID</th>
                        <th>EMAIL</th>
                        <th>REMARK</th>
                        <th>CLIENT SECRET</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of users | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index" [routerLink]="['/pages/users/customeruser/edit-customer-user',item.Id]">
                        <td>{{item.Id}}</td>
                        <td>{{item.userId}}</td>
                        <td>{{item.userEmail}}</td>
                        <td>{{item.userRmk}}</td>
                        <td>{{item.userClientSecret}}</td>
                        <td>{{item.isActive}}</td>
                        <td>
                            <span class="label label-info">info</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form class="pagination-wrapper">
                <div class="form-group pages">
                    <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
                    </pagination-controls>
                </div>
                <div class="form-group options pages">
                    <div class="input-group input-group-sm">
                        <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getAllUsers()">
                          <option>1</option>
                          <option>5</option>
                          <option>10</option>
                          <option>20</option>
                          <option>50</option>
                          <option>100</option>
                          <option>200</option>
                         </select>
                        <span class="input-group-addon addon-right">Per Page</span>
                    </div>
                </div>
            </form>
        </card>
    </div>
</div>

<modal #fifthModal modalClass="modal-lg">
    <modal-header>
        <h4>Add New User</h4>
    </modal-header>
    <modal-content>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Userpost</label>
                    <input type="text" class="form-control" placeholder="Userpost">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Username</label>
                    <textarea class="form-control" placeholder="Username"></textarea>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">Update Profile</button>
                </div>
            </div>
        </div>
    </modal-content>
</modal>