<card cardTitle='Edit Administrator'>
    <div class="row">
        <div class="col-md-4">
            <profile [user]=users></profile>
        </div>
        <div class="col-md-8">
            <div class="row card card-block">
                <div class="col-md-6 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Userpost</label>
                    <input type="text" class="form-control" placeholder="Userpost">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-4 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="col-md-12 form-group">
                    <label class="control-label">Username</label>
                    <ng-select [items]="companies" [addTag]="addTagFn" [hideSelected]="true" multiple="true" bindLabel="name" [(ngModel)]="selectedCompanies">
                    </ng-select>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary">Update Profile</button>
                </div>
            </div>
        </div>
    </div>
</card>

<div class="row">
    <div class="col-md-12">
        <card cardTitle="Line Tabs">
            <tabset id="tabs4" theme="justified">
                <tab-content for="tabs4" tabTitle="Administrator Information" [active]="true">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
                        synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </tab-content>
                <tab-content for="tabs4" tabTitle="General Permissions">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
                        letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore
                        stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                        echo park.</p>
                </tab-content>
                <tab-content for="tabs4" tabTitle="Additional Featurs">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles
                        etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred
                        you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
                    </p>
                </tab-content>
            </tabset>
        </card>
    </div>
